<div th:fragment="header"
     xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <!-- SIDEBAR -->
    <aside class="sidebar bg-dark text-white p-4"
           style="width:240px; position:fixed; left:0; top:0;">

        <h4 class="mb-4 text-danger fw-bold text-center"
            style="font-family: 'Georgia', serif;">
            Sparta Academy
        </h4>

        <ul class="nav flex-column gap-2">
            <li class="nav-item"><a href="/" class="nav-link text-white">Home</a></li>
            <li class="nav-item">
                <a href="/courses"
                   class="btn btn-light">
                    Courses
                </a>
            </li>
            <li class="nav-item">
                <a th:if="${showCourses}"
                   href="/trainers"
                   class="btn btn-light">
                    Trainers
                </a>
            </li>
            <li class="nav-item">
                <a th:if="${showCourses}"
                   href="/trainees"
                   class="btn btn-light">
                    Trainees
                </a>
            </li>
        </ul>

        <hr class="border-secondary my-4">

        <form sec:authorize="isAuthenticated()"
              th:action="@{/logout}" method="post">
            <button class="btn btn-outline-danger w-100">Logout</button>
        </form>
    </aside>

    </div>
    <p sec:authorize="isAuthenticated()">Authenticated user</p>

</header>
