<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragments/head :: head('Create Trainee')"></div>

<body class="bg-light">

<div th:replace="fragments/header :: header"></div>

<div class="container mt-5" style="margin-left:600px;">

    <h1 class="mb-4 text-center">New Trainee</h1>

    <div class="card shadow-sm border-0">
        <div class="card-body">

            <form th:action="@{/trainees/save}"
                  th:object="${entity}"
                  method="post">

                <!-- First Name -->
                <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input type="text"
                           class="form-control"
                           th:field="*{firstName}"
                           required>
                </div>

                <!-- Last Name -->
                <div class="mb-4">
                    <label class="form-label">Last Name</label>
                    <input type="text"
                           class="form-control"
                           th:field="*{lastName}"
                           required>
                </div>

                <!-- Buttons -->
                <div class="text-center">
                    <button type="submit" class="btn btn-danger me-2">
                        Save
                    </button>

                    <a th:href="@{/trainees}" class="btn btn-outline-dark">
                        Cancel
                    </a>
                </div>

            </form>

        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
